/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.heroBanner {
  padding: 4rem 0;
  min-height: 80vh;
  position: relative;
  align-items:center;
  overflow: hidden;
  background-size: cover;
  background-position: center;
  background-image: url('../../static/img/pagedao_hero_video_bg.png');
}

@media screen and (max-width: 966px) {
  .heroBanner {
    padding: 2rem;
  }
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}

.card {
  background-color:darkgoldenrod;
  color:coral;
}

.heroText {
  justify-self: left;
  margin-top: 30vh;
  margin-bottom: 30vh;
  font-size: 4.2rem;
  line-height: 4.2rem;
  font-weight: bolder;
}

.actionsRow {
  justify-content: center;
}

.shopifyBuy {
  background-color: rgba(220,150,33,.82);
  border-radius: 20px;
  justify-content: center;
  padding: 2.5em;
  
}
.TimelineTitle {
  padding-left: 16vw;
}
